PORT=8080
APP_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/soloquest?sslmode=disable

JWT_SECRET=change_me_later
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRES_DAYS=30

GOOGLE_CLIENT_ID=your_google_client_id